<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="Телеком_Нева_СвязьEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=507-15\SQLEXPRESS;initial catalog=&quot;Телеком Нева Связь&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /><add name="Телеком_Нева_СвязьEntities1" connectionString="metadata=res://*/TelekomNeva.csdl|res://*/TelekomNeva.ssdl|res://*/TelekomNeva.msl;provider=System.Data.SqlClient;provider connection string='data source=507-15\SQLEXPRESS;initial catalog=&quot;Телеком Нева Связь&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /></connectionStrings></configuration>